@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales */
body {
  background-color: #0f172a;
  color: white;
}

/* Ocultar barra de scroll pero permitir deslizar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}